<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>movie-libraryClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <servlet-name>ViewAccount</servlet-name>
    <jsp-file>/View/ViewAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccount</servlet-name>
    <url-pattern>/ViewAccount</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ViewMonthlyBill</servlet-name>
    <jsp-file>/View/ViewMonthlyBill.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMonthlyBill</servlet-name>
    <url-pattern>/ViewMonthlyBill</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <jsp-file>/View/UpdateUserInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>UpdatePasswordInfo</servlet-name>
    <jsp-file>/View/UpdatePasswordInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordInfo</servlet-name>
    <url-pattern>/UpdatePasswordInfo</url-pattern>
  </servlet-mapping>
  
  
</web-app>