<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>movie-libraryClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
    <servlet-name>ViewAccount</servlet-name>
    <jsp-file>/View/ViewAccount.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccount</servlet-name>
    <url-pattern>/ViewAccount</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>ViewMonthlyBill</servlet-name>
    <jsp-file>/View/ViewMonthlyBill.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMonthlyBill</servlet-name>
    <url-pattern>/ViewMonthlyBill</url-pattern>
  </servlet-mapping>
  
      <servlet>
    <servlet-name>UpdateUserInfo</servlet-name>
    <jsp-file>/View/UpdateUserInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInfo</servlet-name>
    <url-pattern>/UpdateUserInfo</url-pattern>
  </servlet-mapping>
  
     <servlet>
    <servlet-name>UpdatePasswordInfo</servlet-name>
    <jsp-file>/View/UpdatePasswordInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePasswordInfo</servlet-name>
    <url-pattern>/UpdatePasswordInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>UpdateUserInfoServlet</description>
    <display-name>UpdateUserInfoServlet</display-name>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <servlet-class>Servlets.UpdateUserInfo</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>UpdateUserInfoServlet</servlet-name>
    <url-pattern>/UpdateUserInfoServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description>UpdatePasswordInfoServlet</description>
    <display-name>UpdatePasswordInfoServlet</display-name>
    <servlet-name>UpdatePasswordInfoServlet</servlet-name>
    <servlet-class>Servlets.UpdatePasswordInfo</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>UpdatePasswordInfoServlet</servlet-name>
    <url-pattern>/UpdatePasswordInfoServlet</url-pattern>
  </servlet-mapping>
  
  
  <!-- SignIn Pages -->
  <servlet>
    <display-name>SignInUser</display-name>
    <servlet-name>SignInUser</servlet-name>
    <jsp-file>/View/SignInUser.jsp</jsp-file>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SignInUser</servlet-name>
    <url-pattern>/SignInUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>SignInUserServlet</display-name>
    <servlet-name>SignInUserServlet</servlet-name>
    <servlet-class>edu.sjsu.videolibrary.servlets.SignInUser</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SignInUserServlet</servlet-name>
    <url-pattern>/SignInUserServlet</url-pattern>
  </servlet-mapping>
  
  <!-- Signup Pages -->
   <servlet>
    <display-name>SignUpUser</display-name>
    <servlet-name>SignUpUser</servlet-name>
    <jsp-file>/View/SignUpUser.jsp</jsp-file>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SignUpUser</servlet-name>
    <url-pattern>/SignUpUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <display-name>SignUpUserServlet</display-name>
    <servlet-name>SignUpUserServlet</servlet-name>
    <servlet-class>edu.sjsu.videolibrary.servlets.SignUpUser</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>SignUpUserServlet</servlet-name>
    <url-pattern>/SignUpUserServlet</url-pattern>
  </servlet-mapping>
  
</web-app>