# These files are not pulled by git #
#####################################
.classpath
.project
.settings
build
movie-libraryClient\WebContent\WEB-INF\lib
movie-libraryClient\WebContent\WEB-INF\sampleServiceProxy
movie-libraryClient\src\edu\sjsu\videolibrary\service